---
import logo from '/src/assets/logo.webp';
interface Props {
    sticky: boolean;
}


const  {sticky}    = Astro.props as Props
---
<header class="toolbar backdrop-blur-xs" class:list={sticky ? 'sticky' : ''} >
    <div class="content-logo">
        <img src={logo.src} width="80px" height="40px" alt="logo">
        <div class="content-menu hidden lg:flex gap-4 ml-4 pl-4 border-l-3 border-l-[var(--color-accent)]">
          <a href="/menu" class="btn menu h-full cursor-pointer px-4 py-2" >Menú</a>
          <a href="/#reservas" class="btn reservation cursor-pointer px-4 py-2" >Reservaciones</a>
      </div>
    </div>
    <div class="nav-mobile flex gap-3 justify-center items-center">
        <a href="https://www.instagram.com/lavacatuerta_mx" target="_blank" class="p-2 text-2xl  text-[var(--color-accent)] cursor-pointer" >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/259421953913259" target="_blank" class="p-2 text-2xl  text-[var(--color-accent)] cursor-pointer " >
          <i class="fa-brands fa-facebook"></i>
        </a>
        <button  data-open-bottomsheet class="qr-button  rounded-sm shadow-2xs bg-[var(--color-accent)] w-[32px] h-[32px] text-[var(--color-primary)] cursor-pointer ">
          <i class="fa-solid fa-qrcode"></i>
        </button>
        <!-- <button id="sidenav-toggle" class="sidenav text-2xl lg:hidden text-[var(--color-accent)] cursor-pointer">
          <i class="fa-solid fa-bars"></i>
      </button> -->

     
       
    </div>
    
</header>


<style is:global >
    .nav-mobile{
      display: relative;
    }
    .content-menu{
      /* padding-left: 1rem;
      border-left: 3px solid var(--color-text);
      height: 100%;
      margin-left: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem; */
    }
    .toolbar{
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        padding: 0 1rem;
        background-color: #e8e1d5d8;
        padding:  0rem 2rem  ;
        /* position: sticky; */
        top: 0;
       
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.051);
        position: relative;
       
        /* width: 100%; */

    }
    .toolbar.stiky{
      position: sticky;
    }
    
 
    .content-logo{
        display: flex;
        align-items: center;
        padding: 0.85rem 0;
        padding-right: 0.85rem;
    }
    .content-logo .text{
        font-size: 1.2rem;
        font-weight: bold;
    }
    @media (min-width:560px) {
      .content-logo .text{
        font-size: 1.6rem;
      }
    }
    .btn {
        border-bottom: 4px solid transparent; 
        transition: border-bottom-color 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Transición suave */
        color: var(--color-accent);
    }

.btn:hover {
  border-bottom-color: var(--color-accent); /* Solo cambia el color */
}


/* .btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: #78350f;
  transition: width 0.3s ease;
}

.btn:hover::after {
  width: 100%;
} */

 /* Sidenav Styles */



</style>
<script>
  
</script>